{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
</div>
<div class="col" >
    {{ form_widget(form) }}
</div>
<div class="col d-flex justify-content-center">
    <button class="btn btn_save mx:auto">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
