{% extends 'base.html.twig' %}

{% block title %}Ajout d'une réponse
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1 class="text-center my-5">Ajout d'une réponse</h1>
			<div class="col-8 mx-auto">
				<a class="btn btn_return" href="{{ path('app_back_answer_index') }}">Retour à la liste</a>
				<div>
					{{ include('back/answer/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
