/* Colors */
$color-black: #000000;
$color-grey: #f2f2f2;
$color-white: #ffffff;
$color-primary: #043440;
$color-success: green;
$color-backg: rgb(0, 0, 175);
$color-borders: 2px red solid;

/* Sections */
$section-padding-y-default: 3rem;
$section-padding-x-default: 6rem;
$navigation-height-phone: 4.25rem;

/* Front responsive */
$mq885: "screen and (max-width: 885px)";
$mq762: "screen and (max-width: 762px)";
$mq688: "screen and (max-width: 688px)";
$mq620: "screen and (max-width: 620px)";
$mq485: "screen and (max-width: 485px)";
$mq443: "screen and (max-width: 443px)";
$mq393: "screen and (max-width: 393px)";

