// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import des variables
@import "variables.scss";

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0
}

/* Bannière */
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $backCol;
    height: 148px;
    width: 100%;
    color: white;
    border-bottom: $borders;

    >#logo {
        height: 80px;
        width: 80px;
        text-align: center;
        border:1px white solid;
        margin-left: 40px;

        @media #{$mq443} {
            margin-left: 3%;
        }
    }

    >.front_nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
        margin-right: 40px;

        >.navLink {
            background: $black;
            color: $white;
            font-size: 1.5em;
            text-decoration: none;
            padding: 10px 20px;
            border: $borders;
            border-radius: 50%;
            margin: 0 10px;
            &:hover {
                background: $white;
                color: $black
            }

            @media #{$mq700} {
                font-size: 1.3em
            }
            @media #{$mq655} {
                font-size: 1.2em
            }
            @media #{$mq620} {
                font-size: 1.1em
            }
            @media #{$mq443} {
                font-size: 1em
            }
            @media #{$mq393} {
                margin: 5px 10px
            }
        }

        @media #{$mq885} {
            width: unset;
            min-width: unset
        }
        @media #{$mq750} {
            margin-right: 3%;
        }
        @media #{$mq620} {
            flex-wrap: wrap;
            justify-content: center;
            width: 310px
        }
        @media #{$mq443} {
            width: 290px
        }
        @media #{$mq393} {
            width: 250px
        }
    }

    @media #{$mq393} {
        height: 180px
    }
}

/* Contenu principal */
.front_main {
    background-color: rgb(20, 200, 250);
    background-image: url("../img/fond_bleu.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    margin-top: 148px;

    >#titles, >#explain, >#count-down-timer, .question, .reponse, #result {
        background: rgba(255, 255, 255, 0.6);
        width: 90%;
        max-width: 1170px;
        padding: 0 20px 10px 20px;
        border: $borders;
        border-radius: 15px;
        margin: 50px auto
    }

    h1, h2, h3 {
        font-size: unset;
        font-weight: bold
    }

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 30px 0;

        @media #{$mq443} {
            font-size: 2.5em;
        }
        @media #{$mq393} {
            font-size: 2.2em;
        }
    }

    h2 {
        font-size: 1.5em;

        @media #{$mq443} {
            font-size: 1.3em;
        }
    }

    >#explain h3 {
        font-size: 1.3em;
        margin: 10px 0
    }

    >#explain p {
        font-size: 1.2em;

        @media #{$mq443} {
            font-size: 1.1em;
        }
    }

    >#buttons {
        width: 90%;
        max-width: 1200px;
        margin: 20px auto;

        >.eachButton {
            cursor: pointer;
            display: none;
            background: $black;
            color: $white;
            font-size: 1em;
            padding: 10px 20px;
            border: $borders;
            border-radius: 50%;
            margin: 0 auto;
            &:hover {
                background: $white;
                color: $black
            }
        }
        
        >#button1 {
            display: block
        }
    }

    >#count-down-timer {
        width: 200px;
        color: red;
        font-size: 2em;
        font-weight: bold;
        padding: 0;
        margin: 0 auto
    }

    article {
        display: none;
        font-size: 1.2em;
        margin-top: 50px;

        >.question {
            width: 80%;
            max-width: 600px;
            padding: 10px 20px;
            margin: 10px auto
        }

        >.reponses {
            width: 90%;
            margin: 10px 5%;

            >.repLigne {
                display: flex;
                justify-content: center;

                >.reponse {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44%;
                    max-width: 400px;
                    color: black;
                    font-size: 1em;
                    text-decoration: none;
                    padding: 10px 20px;
                    margin: 10px 5px;
                    &:hover {
                        background: black;
                        color: white
                    }
                }
            }
        }
    }

    #result {
        display: none;
        width: unset;
        padding: 5px 10px
    }
}

/* Pied de page */
footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $backCol;
    height: 98px;
    width: 100%;
    color: white;
    border-top: $borders;

    >#footer_logo {
        height: 60px;
        width: 60px;
        text-align: center;
        border:1px white solid;
        margin-left: 40px;

        @media #{$mq443} {
            margin-left: 3%;
        }
    }

    >.names {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        height: 100%;
        font-weight: bold;
        margin: 0 auto;

        @media #{$mq620} {
            width: 320px
        }
        @media #{$mq393} {
            width: 280px
        }

        >.eachName {
            background: $black;
            color: $white;
            font-size: 1em;
            padding: 5px 10px;
            border: $borders;
            border-radius: 10px;
            margin: 5px 10px;
            &:hover {
                background: $white;
                color: $black
            }

            @media #{$mq885} {
                font-size: 0.9em;
            }
            @media #{$mq393} {
                font-size: 0.7em;
            }
        }
    }

    @media #{$mq620} {
        height: 120px
    }
}