// Responsive
$mq1000: "screen and (max-width: 1000px)";
$mq885: "screen and (max-width: 885px)";
$mq750: "screen and (max-width: 750px)";
$mq700: "screen and (max-width: 700px)";
$mq655: "screen and (max-width: 655px)";
$mq620: "screen and (max-width: 620px)";
$mq443: "screen and (max-width: 443px)";
$mq393: "screen and (max-width: 393px)";

// Background color
$backCol: rgb(0, 0, 175);

// Red borders
$borders: 2px red solid;

// Hover on black (without/with)
$black: black;
$white: white