{% extends 'base.html.twig' %}

{% block title %}La réponse D !{% endblock %}

{% block body %}
    <header>
        <img src="logo.jpg" alt="LOGO" id="logo">
        <nav class="front_nav">
            <a href="#" class="navLink">Classement</a>
            <a href="#" class="navLink">Inscription</a>
            <a href="#" class="navLink">Connexion</a>
            <a href="#" class="navLink" style="display: none">Déconnexion</a>
        </nav>
    </header>

    <main class="front_main">
        <!--<div style="width:725px; height: 5px; border: 1px black solid"></div>-->
        <section id="titles">
            <h1>La réponse D !</h1>
            <h2>Bienvenue dans ce jeu de quizz en&nbsp;ligne&nbsp;!</h2>
            <h2>
                N'hésitez pas à vous inscrire dès maintenant pour découvrir le jeu complet ou simplement à
                jouer à la mini&#8209;partie de 5 questions qui vous est offerte ci&#8209;dessous...
                <!-- Le caractère "&#8209;" est le trait d'union insécable. -->
            </h2>
        </section>

        <section id="explain">
            <h3>Comment jouer ?</h3>
            <p>Cliquer sur le bouton de la question ci&#8209;dessous déclenche le compteur et fait apparaître
            la question et ses réponses.</p>
            <p>Cliquer sur une réponse la valide et fait disparaître l'ensemble. Il n'est alors plus
            possible de modifier ce choix.</p>
            <p>Si vous n'avez pas répondu dans le temps imparti, la question et les réponses disparaissent
            aussi...</p>
        </section>

        <section id="buttons">
            <!-- Ici se trouvent des boutons créés dans une boucle JS. -->
        </section>

        <div id="count-down-timer">20 secondes</div>

        <section>
            <article id="question1">
                <div class="question">
                    Quelle est la plus grande planète de notre système solaire&nbsp;?
                </div>
                <div class="reponses">
                    <div class="repLigne">
                        <span class="reponse" id="rep1-1">Jupiter</span>
                        <span class="reponse" id="rep1-2">Saturne</span>
                    </div>
                    <div class="repLigne">
                        <span class="reponse" id="rep1-3">Uranus</span>
                        <span class="reponse" id="rep1-4">Neptune</span>
                    </div>
                </div>
            </article>

            <article id="question2">
                <div class="question">
                    De quel groupe musical Rob Bourdon est-il le batteur&nbsp;?
                </div>
                <div class="reponses">
                    <div class="repLigne">
                        <span class="reponse" id="rep2-1">Deep Purple</span>
                        <span class="reponse" id="rep2-2">Guns N' Roses</span>
                    </div>
                    <div class="repLigne">
                        <span class="reponse" id="rep2-3">Linkin Park</span>
                        <span class="reponse" id="rep2-4">Motörhead</span>
                    </div>
                </div>
            </article>

            <article id="question3">
                <div class="question">
                    Qui était le Président de la République Française en 1971&nbsp;?
                </div>
                <div class="reponses">
                    <div class="repLigne">
                        <span class="reponse" id="rep3-1">Charles de Gaulle</span>
                        <span class="reponse" id="rep3-2">Georges Pompidou</span>
                    </div>
                    <div class="repLigne">
                        <span class="reponse" id="rep3-3">Valéry Giscard d'Estaing</span>
                        <span class="reponse" id="rep3-4">Alain Poher</span>
                    </div>
                </div>
            </article>

            <article id="question4">
                <div class="question">
                    Lequel de ces noms n'est pas celui d'un des bateaux de Christophe Colomb lors de sa
                "découverte" de l'Amérique&nbsp;?
                </div>
                <div class="reponses">
                    <div class="repLigne">
                        <span class="reponse" id="rep4-1">La Guardia</span>
                        <span class="reponse" id="rep4-2">La Niña</span>
                    </div>
                    <div class="repLigne">
                        <span class="reponse" id="rep4-3">La Pinta</span>
                        <span class="reponse" id="rep4-4">La Santa Maria</span>
                    </div>
                </div>
            </article>

            <article id="question5">
                <div class="question">
                    Quand est décédé Ayrton Senna&nbsp;?
                </div>
                <div class="reponses">
                    <div class="repLigne">
                        <span class="reponse" id="rep5-1">3 novembre 1993</span>
                        <span class="reponse" id="rep5-2">15 février 1994</span>
                    </div>
                    <div class="repLigne">
                        <span class="reponse" id="rep5-3">1er mai 1994</span>
                        <span class="reponse" id="rep5-4">4 mai 1995</span>
                    </div>
                </div>
            </article>

            <article id="result"></article>
        </section>
        <div style="height:300px"></div>
    </main>

    <footer>
        <img src="logo.jpg" alt="LOGO" id="footer_logo">
        <div class="names">
            <span class="eachName">Christophe NEDAUD</span>
            <span class="eachName">Gilbert&nbsp;FRADET</span>
            <span class="eachName">Jérôme&nbsp;FROMANTIN</span>
        </div>
    </footer>
{% endblock %}